@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

:root {
    --font-size-body-1: "0.875rem";
    --font-size-h6: "1.25rem";
    --font-size-h5: "1.5rem";
    --font-size-h4: "2.125rem";
    --font-size-h3: "3rem";
    --font-size-h2: "4rem";
    --font-size-h1: "6rem";
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --line-height: 1.2;

    --brand-1: #441fee;
    --brand-1-opaque: rgba(68, 31, 238, 0.1);
    --brand-1-dark: "#2f12aa";
    --brand-2: #13ddb8;
    --theme-color-1: #ff6b81;
    --theme-color-2: #1abc9c;
    --theme-color-3: #6a5acd;
    --theme-color-4: #f39c12;
    --theme-color-5: #2ecc71;
    --theme-color-6: #1abc9c;

    /* Background */
    --background: #ffffff;
    --bg-opaque: rgba(255, 255, 255, 0.5);
    --background-light: #f2f2f2;
    --background-dark: #4d4d4d;

    /* Text */
    --text-primary: #000000;
    --text-secondary: #4d4d4d;
    --text-negative: #d32f2f;
}

::selection {
    background: var(--brand-1);
    color: var(--background);
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: hsl(0, 0%, 100%);
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: rgb(200, 200, 200);
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(116, 116, 116);
}
